.box{
    border: 2px solid orange;
}
.box:hover{
    border: 2px solid red;
}
.card-container{
    display: flex;
    flex-flow: column;
    width: 6%;
    aspect-ratio: 1/1.5;
    min-height: 5vh;
    min-width: 5vw;
    margin-right: 3px;
    background-color:grey;
    font-size:100%;
    color:black;
}
.top{
    flex:1;
    align-self: stretch;
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    box-sizing: border-box;
}
.points{
    flex: 1;
    font-size: 100%;
}
.crowns{
    height: 50%;    
    flex:1;
    flex-direction: row;
    display: flex;
    margin-bottom: 5px;
}
.miningPower{
    flex:2;
    font-size: 100%;
    margin-left: 10%;
    align-self: right;    
    display: inline-block;
}
.bot{
    flex:4;
    display: flex;
    flex-flow: row;
    justify-content: stretch;
}
.dots{
    flex:4;
    display: flex;
    color:black;
    flex-flow: column-reverse;    
}
.dot{
    font-size: 80%;
    height:1.5em;
    width: 1.5em;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin:1px;
}
.action{
    flex:1;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
}
