.board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #bbada0;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-items: center;
}

.coin{
    font-size: 80%;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin:1px;
}