#grid {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 0.8fr 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    height: 80vh;
    align-items: stretch;
    grid-gap: 5px;
    margin: 15px;
}
#playerboards{

}
#cards{}
#coinBoardRow{
    
}
#coinBoard{
    height:60%;
}
#chat{
    border: 1px solid black;
    height: 30%;
    scroll-margin-right: 10px;
    overflow: scroll;
    position: fixed;
    bottom: 0;
    width: 25%;
    font-size: 0.9em;
}